
@{
    ViewBag.Title = "WaitingForFeedback";
}

<h2>СПАСИБО ЗА ПОЛЬЗОВАНИЕ НАШИМИ УСЛУГАМИ!</h2>
<h3>Мы рассмотрим вашу заявку в ближайшее время</h3>
<p>@Html.ActionLink("Назад", "IndexLessee", "Registers")</p>

