@{
    ViewBag.Title = "Торгово-развлекательный центр";
}

<div class="jumbotron">
    <h3>@ViewBag.Title</h3>
    <h2>Улёт</h2>
    <p class="lead">Внимание! Высокая посещаемость! Арендуйте помещения - и ваши дела пойдут в гору!</p>
</div>

